<!DOCTYPE html>
<html>
<style>
body{
  background: url(/assets/.jpg);
  background-repeat: no-repeat; 
  background-size: 100%;
}
</style>

<head>
  <title>ArticleData</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
 <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


<%= nav_bar brand: "Articles" do %>
    <%= menu_group do %>
        <%= menu_item "Articles",articles_path %>
        <%= menu_item "New Article", new_article_path %>
        <%= menu_item "Category", categories_path %>
        <%= menu_item "New Category", new_category_path %>
    <% end %>
    
    <% if user_signed_in? %>
        <%= menu_group pull: :right do %>
        	<%= menu_item "Sign Out", destroy_user_session_path,method: :delete %>
        <%end%>
    <% else %>
        <%= menu_group pull: :right do %>
            <%= menu_item "Sign In",new_user_session_path %>
            <%= menu_item "Sign Up",new_user_registration_path %>
        <% end %>
    <% end %>
<% end %>


<%= yield %>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


</body>
</html>
